<!html DOCTYPE>

<html>

	<head>

		<link rel="stylesheet" type="text/css" href="{{ asset('bundles/acmeerp/css/estilos.css') }}">
		<script type="text/javascript" src="{{ asset('bundles/acmeerp/js/script.js') }}" ></script>

	</head>

	<body>

		<input type="hidden" id="view" value="{{ view }}" >

		<form name="login" id="login" method="post" action="" >

			<input type="hidden" name="accion" value="" >

			<div>

				<header>
					<h1>Login</h1>
				</header>

				<section class="login" >
						<label >usuario</label>
						<input type="text"  name="user" />
						<label >clave</label>
						<input type="password" name="clave" >
						<label >Empresa</label>
						<select name="empresa" >
							{% for u in users %}
							<option value="{{ u.empresa_id }}" >{{ u.emp_nombre }}</option>
							{% endfor %}
						</select>
						<label ></label>
						<button id="logear" >Ingresar</button>
						<span>{{ mensaje }}</span>
				</section>

				<footer>
					Electrowerke 2015 | Derechos Reservados
				</footer>

				<!-- Test Data -->

				<!--
				<ul>
					<li></li>
				</ul>
				-->
				
				

			</div>

		</form>

	</body>

</html>