{% extends 'AcmeErpBundle::Default/home.html.twig' %}

{% block contenido %}
<section class="contenido" >
	<h2>Contenido permiso</h2>

	<div class="mensaje" >
		mensaje...!
	</div>

	<div class="permiso" >

		<fieldset>
			<legend>Empresas</legend>
			<select size="10" id="empresa" >
				<!--
					<option>Electrowerke</option>
					<option>Electrowerke</option>
				-->
				{% for a in entidad  %}
				<option value="{{ a.id }}" >{{ a.empresa }}</option>
				{% endfor %}
			</select>
		</fieldset>

		<fieldset>
			<legend>Perfiles</legend>
			<select size="10"  id="perfil" >
				<!--
					<option>Administracion</option>
					<option>Comercial</option>
				-->
			</select>
		</fieldset>

		<fieldset>
			<legend>Tableros</legend>
			<div class="acceso" >
				<ul class="acceso-niv" >
					{% for t in tablero %}
						<li>
							<input type='checkbox' value="{{ t.id }}" name="tablero[]" id="tablero" />{{ t.titulo }}
						</li>
					{% endfor %}
				</ul>
			</div>
		</fieldset>

		<fieldset>
			<legend>Accesos</legend>
			<div class="acceso" >
				<ul class="acceso-niv" >
					<!--
					<li>
						<input type="checkbox">Usuario
						<ul class="acceso-niv" >
							<li><input type="checkbox">Permisos</li>
							<li><input type="checkbox">Perfiles</li>
						</ul>
					</li>
					<li><input type="checkbox">Finanzas</li>
					-->
					{{ acceso|raw }}
				</ul>
			</div>
		</fieldset>

		<button>Guardar</button>

	</div>

</section>
{% endblock %}